<app-search (resultSearch)="productSearch($event)" (close)="test()"></app-search>

<ion-card *ngIf="empty, else prod">
  <ion-progress-bar type="indeterminate" *ngIf="load"></ion-progress-bar>
  <ion-card-header>
    <ion-card-subtitle *ngIf="!load">No hay productos que mostrar</ion-card-subtitle>
    <ion-card-subtitle *ngIf="load">Buscando...</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ng-template #prod>
<ion-card *ngFor="let item of data">
  <img [src]="url+item?.image" class="img"/>
  <ion-card-header>
    <ion-card-title [textContent]="item?.name_product"></ion-card-title>
    <ion-card-subtitle [textContent]="'Código de barra: '+item?.code_barra"></ion-card-subtitle>
    <ion-card-subtitle [textContent]="'Disponible: '+item?.available"></ion-card-subtitle>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-card-subtitle color="primary" class="price" [textContent]="item?.price | currency"></ion-card-subtitle>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <ion-button (click)="presentAlert(item)" [disabled]="(!item?.available)">
              <ion-icon name="list-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>



  </ion-card-header>
</ion-card>
</ng-template>
