<app-search (resultSearch)="productSearch($event)"></app-search>

<ion-card *ngIf="empty, else prod">
  <ion-card-header>
    <ion-card-subtitle>No hay productos que mostrar</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ng-template #prod>
<ion-card *ngFor="let item of data">
  <img [src]="url+item?.image" class="img"/>
  <ion-card-header>
    <ion-card-title [textContent]="item?.name_product"></ion-card-title>
    <ion-card-subtitle [textContent]="'Código de barra: '+item?.code_barra"></ion-card-subtitle>
    <ion-card-subtitle [textContent]="'Disponible: '+item?.available"></ion-card-subtitle>
    <ion-card-subtitle color="primary" class="price" [textContent]="item?.price | currency"></ion-card-subtitle>
  </ion-card-header>
</ion-card>
</ng-template>
